@model IEnumerable<WebAppSchoolDb.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.subject_name)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.class_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.subject_name)
        </td>
        
    </tr>
}

</table>
